#cart {
    height: 400px;
    width: 20%;
    top:0;
    float: right;
    margin-top: 20px;


}

.cart{
    margin-top:50px;
    margin-left: 60px;
    width: 400px;
}
 #addcart {
    background-color: #e35252;
    border: none;
    border-radius: 4px;
    height:100px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .buttonn{
    margin-left: 400px;
    height: 291px;
    width: 500px;
    float: right;
  }

  input[name=submit], input[type=reset] {

    border-radius: 6px;
    background-color:  #194376;
    height: 60px;
    width: 130px;
    font-size: 17px;
    margin-left: 40%;
  color: white; 
    }